<!DOCTYPE html>

<html>
    <head>
        <title>Ma todolist</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>Ma todolist</h1>

        <ul>
        <% todolist.forEach(function(todo, index) { %>
            <li><a href="/todo/supprimer/<%= question %>">✘</a> <%= todo %></li>
        <% }); %>
        </ul>

        <h4>Options</h4>

        <form action="/todo/ajouter/" method="post">
            <p>
                <label for="newtodo">Add a task</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" />
            </p>
        </form>

        <form action="/todo/supprimer/:id" method="get">
            <p>
                <label for="done">Erase a task</label>
                <input type="text" name="done" id="done" autofocus />
                <input type="submit" />
            </p>
        </form>
    </body>
</html>
