<!DOCTYPE html>

<html>
    <head>
        <title>addvote</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>Ajouter un vote</h1>

        <form action="/handler" method="post">
            <!-- <label for="question"></label> -->
            question : <input type="text" name="question" id="question"><br>
            <!-- <label for="choix1"></label> -->
            choix 1: <input type="text" name="choix1" id="choix1"><br>
            <label for="choix2"></label>
            choix 2: <input type="text" name="choix2" id="choix2"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
