<!DOCTYPE html>

<html>
    <head>
        <title>LISTE DES VOTES</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>LISTE DES VOTES</h1>

        <ul>
            <li><a href="/listVote">1 Lister les votes</a></li>
            <li><a href="/addVote">2 Ajouter un vote</a></li>
            <li><a href="/vote">3 Voter</a></li>
            <li><a href="/Quitter">4 Quitter</a></li>
        </ul>
        </form>
    </body>
</html>