<!DOCTYPE html>

<html>
    <head>
        <title>Ma todolist</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>Ma todolist</h1>
        <h1><%= choix2 %></h1>

        <ul>
            <li><a href="/accueil/listVote">1 Lister les votes</a></li>
            <li><a href="/addVote">2 Ajouter un vote</a></li>
            <li><a href="/accueil/vote">3 Voter</a></li>
            <li><a href="/Quitter">4 Quitter</a></li>
        </ul>
        </form>
    </body>
</html>
